.macos {
   position: relative;
   width: 532px;
   height: 606px;
   background-color: #f8f9fa;
   box-sizing: border-box;
   border: 5px solid #dde1e4;
   border-radius: 5px;
   overflow: auto;

   .status-bar {
      position: sticky;
      background-color: #f8f9fa;
      top: 0;
      height: 30px;
      border-bottom: 5px solid #dde1e4;
      box-sizing: border-box;
      padding: 4px 5px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      z-index: 1;

      .current-time,
      > img:not(:first-child) {
         margin-left: 10px;
      }

      > img {
         height: 100%;
      }
   }

   .notification {
      position: relative;
      width: 410px;
      margin: 25px auto 420px auto;
      box-shadow: 0 1px 8px grey;
      border-radius: 10px;
      background-color: white;
      box-sizing: border-box;

      .close-stick {
         background-color: white;
         height: 25px;
         width: 25px;
         position: absolute;
         display: flex;
         justify-content: center;
         align-items: center;
         top: -16px;
         left: -16px;
         font-size: 10px;
         box-shadow: 0 1px 8px grey;
         border-radius: 100%;

         > img {
            height: 8px;
         }
      }

      .top-notification {
         display: flex;
         justify-content: space-between;
         height: 40px;
         padding: 5px 10px 0 10px;
         box-sizing: border-box;
         color: grey;
         text-transform: uppercase;
         font-size: 14px;
         border-top-left-radius: 10px;
         border-top-right-radius: 10px;

         > div {
            display: flex;
            align-items: center;
            height: 100%;

            > img {
               height: 20px;

               &:not(:last-child) {
                  margin-right: 10px;
               }
            }

            button {
               background-color: white;
               border: none;
               border-radius: 3px;
               padding: 2px 6px;

               &:hover {
                  background-color: #dddcdc;
               }

               > img {
                  height: 10px;

                  &.chevron {
                     transition: all 200ms;

                     &.open {
                        transform: rotate(90deg);
                     }

                     &.close {
                        transform: rotate(180deg);
                     }
                  }
               }
            }
         }

         .alert-timestamp {
            text-transform: none;
         }
      }

      .icon-container {
         display: flex;
         justify-content: center;
         align-items: center;
         margin-bottom: 10px;
         background-color: #e5e5e5;
         min-height: 185px;

         img.icon {
            max-width: 100%;
            min-height: 130px;
            max-height: 410px;
            object-fit: contain;
         }
      }

      .notification-params {
         padding: 0 10px 10px 10px;
         background-color: white;
         border-bottom-left-radius: 10px;
         border-bottom-right-radius: 10px;
         display: flex;
         justify-content: space-between;
         align-items: flex-end;
         box-sizing: border-box;

         .title {
            font-weight: 700;
            font-size: 15px;
            letter-spacing: 0.5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-bottom: 2px;
            max-width: 350px;
         }

         .domain {
            letter-spacing: 1px;
            font-size: 14px;
            margin-bottom: 1px;
         }

         .message {
            letter-spacing: 1px;
            font-size: 15px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 300px;
         }

         > img.logo-img {
            height: 45px;
            width: 45px;
            border-radius: 5px;
            object-fit: cover;
         }

         .option-button {
            position: absolute;
            right: 10px;
            background-color: #dcdcdc;
            color: grey;
            padding: 3px 6px 3px 6px;
            border-radius: 5px;
            font-size: 15px;
            font-weight: 400;
            letter-spacing: 0.9px;
            display: flex;
            align-items: center;
            box-shadow: 0 0 10px white;

            &:hover {
               cursor: default;
            }

            .chevron {
               height: 9px;
               margin-left: 6px;
               transform: rotate(180deg);
            }

            .options-list {
               position: absolute;
               top: 27px;
               left: 15px;
               background: white;
               color: rgba(50, 50, 50);
               padding: 5px;
               border-radius: 5px;
               box-shadow: 0 2px 8px lightgrey;

               .button {
                  padding: 5px 10px;
                  border-radius: 5px;

                  &:hover {
                     background-color: #458ee4;
                     color: white;
                     cursor: default;
                  }
               }
            }
         }
      }

      .buttons {
         min-height: 1px;
         border-bottom-left-radius: 10px;
         border-bottom-right-radius: 10px;

         .button {
            color: #353535;
            margin: 0 10px;
            text-align: center;
            border-top: 2px solid #f2f2f2;
            padding: 10px;
            font-weight: 400;
            font-size: 15px;

            &:last-child {
               padding-bottom: 30px;
            }
         }
      }
   }
}
